*{
    margin: 0%;
    padding: 0%;
    
}
h1{
    opacity: 80%;
}
#navbar {
    height: 7vh;
    width: 100vw;
    background-color: green;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}
#welcome-section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: red;
}
#projects{
    height: 100vh;
    background-color: blue;
}
#skills{
    height: 100vh;
    background-color: darkorange;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#contact{
    height: 100vh;
    background-color: firebrick;
    
}
#left-nav{
    height: 100%;
    margin-left: 0.5vw;
    display: flex;
    align-items: center;
}
#right-nav{
    width: 25vw;
    height: 100%;
    background-color: hotpink;
    margin-right: 0.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.link-holder{
    height: 100%;
    width: 33%;
    text-align:center;
    border: 2px solid black;
}
.link-holder:hover{
    background-color: brown;
}
.link-holder > a{
    height: 100%;
    width: 100%;
    font-size: 20px;
    display:flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
}
#skills-holder{
    width: 90%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.skill{
    width: 20%;
    height: 30%;
    background-color: white;
    border: 2px solid black;
}
@media(max-width: 768px){
    #right-nav{
        width: 60%;
    }
}